.social a img:hover {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

.nav a:hover {
    color: #0C4784;
    border-radius: 10px;
    background-color: #6091ab;
}

